In [4]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [7]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
junquery = session.query(Measurement).filter(extract('month', Measurement.date) == 6).all()

In [8]:
#  3. Convert the June temperatures to a list.
jun_list = []
for row in junquery:
    jun_list.append(row.tobs)

In [9]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
jun = pd.DataFrame(jun_list, columns=['June Temps'])
jun.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [10]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
jun.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [11]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
decquery = session.query(Measurement).filter(extract('month', Measurement.date) == 12).all()

In [12]:
# 7. Convert the December temperatures to a list.
dec_list = []
for row in decquery:
    dec_list.append(row.tobs)

In [13]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec = pd.DataFrame(dec_list, columns=['December Temps'])
dec.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [14]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [20]:
## Other Queries
aprquery = session.query(Measurement).filter(extract('month', Measurement.date) == 4).all()
octquery = session.query(Measurement).filter(extract('month', Measurement.date) == 10).all()

In [21]:
apr_list = []
for row in aprquery:
    apr_list.append(row.prcp)
apr = pd.DataFrame(apr_list, columns=['April Precipitation'])

In [22]:
apr.describe()

       April Precipitation
count          1595.000000
mean              0.150639
std               0.418539
min               0.000000
25%               0.000000
50%               0.010000
75%               0.100000
max               6.250000

In [23]:
oct_list = []
for row in octquery:
    oct_list.append(row.prcp)
oct = pd.DataFrame(oct_list, columns=['October Precipitation'])
oct.describe()

       October Precipitation
count            1445.000000
mean                0.155606
std                 0.443684
min                 0.000000
25%                 0.000000
50%                 0.010000
75%                 0.090000
max                 4.470000